.list {
  list-style-type: none;
  margin-top: 12px;
  width: 300px;
  padding-bottom: 18px;
  position: absolute;

  &__name {
    font-weight: bold;
    padding-left: 27px;
  }

  &__center-container {
    width: 90%;
  }

  .btn {
    margin-left: 15px;
  }
}
