.everkan-modal-overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.everkan-modal {
  &__content {
    background-color: #fff;
    padding-top: 18px;
    padding-left: 18px;
    border-radius: 4px;
    height: 35%;
    width: 35%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__close {
    background-color: #fff;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
}
