.everkan-modal-overlay {
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.everkan-modal {
  &__content {
    background-color: #fff;
    padding-top: 18px;
    padding-left: 18px;
    border-radius: 4px;
    height: 35%;
    width: 35%;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--view-card {
      width: 50%;
      height: 90%;

      .card-options {
        float: right;
        margin-right: 28px;

        .date-option {
          margin-left: 8px;
          font-size: 24px;
          cursor: pointer;
        }

        .save-date:hover {
          color: #5bb75b;
        }

        .close-date-input:hover {
          color: #da4f49;
        }
      }
    }
  }

  &__close {
    background-color: #fff;
    border-radius: 20%;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;

    &:hover {
      color: #da4f49;
    }
  }

}
